{% extends "layout-first.html" %}
{% block content %}
          <h1 class="h1">Bienvenidos</h1>
          <p class="h6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptatibus facilis illum porro temporibus. Maxime odio porro ad officiis eligendi nemo. Libero aperiam quis quae modi distinctio debitis soluta! Expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aut ratione, non officiis adipisci quo nostrum veniam dolorum dolor debitis, cumque ullam. Provident culpa veritatis aliquid aliquam vitae optio voluptates?
          </p>
{% endblock %}