{% extends "layout-first.html" %}
{% block content %}
          <h1 class="h1">Bienvenidos a la Aplicación de Lista de Tareas</h1>
          <p class="h6">
            En esta página web tu podrás registrarte, iniciar sesión, con la seguridad adecuada para esta aplicación, y luego podrás agregar todas las tareas que tengas pendiente,
            las cuales podrás actualizar, ver, eliminar si es lo que deseas; además tienes la opción de modificar los datos de tu cuenta, no se diga más disfruta de la aplicación.
          </p>
{% endblock %}