<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Project CS50</title>
    <meta name="description" content="Web Page of To do list" />
    <meta name="author" content="Jesús Córdova" />
    <link
      href="{{url_for('static',filename='css/styles.css')}}"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/> 
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand title" href="{{ url_for('mainpage') }}"
          >Lista de Tareas</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('mainpage') }}"
                id="main-nav"
                >Lista de Tareas</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('account') }}"
                id="services-nav"
                >Cuenta</a
              >
            </li>
          </ul>
          <div class="d-flex">
            <a class="btn btn-outline-warning" href="{{ url_for('logout') }}">
              Cerrar Sesión
            </a>
          </div>
        </div>
      </div>
    </nav>
    <main class="image-sumar" id="main">
      <div class="main-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %} 
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert" id="alert">
            <!-- <strong>Title</strong> -->
            {{ message }}
          </div>
          {% endfor %} 
        {% endif %} 
        {% endwith %} 
        <h1 class="h1">Bienvenido {{ session['user_name'] }}</h1>
        <form action="/addtask" method="POST" class="form-task">
          <div class="input-group mb-3 task-bar">          
            <input type="text" class="form-control" placeholder="Tarea" name="task" aria-label="Tarea" aria-describedby="basic-addon2">
            <button class="btn btn-primary" id="basic-addon2" type="submit">Agregar</button>
          </div>
        </form>
        <table class="display" id="tasks-table" style="width: 100%;">
          <thead class="thead-light">
            <tr>
              <th scope="col">Tarea</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
        </table>        
      </div>

      <div class="modal fade" id="modaledit" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Editar Tarea</h4>
            </div>
            <div class="modal-body">
              <form action="/edittask" method="POST">
                <div class="form-group">
                  <label for="">Tarea</label>
                  <input type="text" class="form-control" name="task" required id="view_task">
                </div>
                <div class="form-group">
                  <label for="">Estado</label>
                  <select name="status" id="view_status" class="form-select" required>
                    <option value="">Seleccione una opción</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Terminado">Terminado</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
