{% extends "layout-first.html" %}
{% block content %}
    <h1 class="h1">Registro de usuario</h1>
    <div class="container form-register">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo" name="email">
              <small id="emailHelp" class="form-text text-muted">Nunca compartas tu contraseña con nadie.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="password1" placeholder="Ingresa tu contraseña" name="password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirmación de contraseña</label>
                <input type="password" class="form-control" id="password2" placeholder="Confirma tu contraseña">
                <div id="msg-passwords" class=""></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
{% endblock %}